@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
} */

@layer base {
  :root {
    --background: 151 48% 100%;
    --foreground: 151 67% 4%;
    --muted: 151 24% 87%;
    --muted-foreground: 151 15% 32%;
    --popover: 0 0% 99%;
    --popover-foreground: 151 67% 3%;
    --card: 0 0% 99%;
    --card-foreground: 151 67% 3%;
    --border: 151 12% 91%;
    --input: 151 12% 91%;
    --primary: 151 80% 42%;
    --primary-foreground: 151 80% 2%;
    --secondary: 151 14% 88%;
    --secondary-foreground: 151 14% 28%;
    --accent: 151 22% 81%;
    --accent-foreground: 151 22% 21%;
    --destructive: 11 93% 29%;
    --destructive-foreground: 11 93% 89%;
    --ring: 151 80% 42%;
    --radius: 0.5rem;
    --chart-1: 151 65% 20%;
    --chart-2: 140 74% 44%;
    --chart-3: 142 88% 28%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;

  }

  .dark {
    --background: 151 34% 3%;
    --foreground: 151 36% 100%;
    --muted: 151 24% 13%;
    --muted-foreground: 151 15% 68%;
    --popover: 151 34% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 151 34% 4%;
    --card-foreground: 0 0% 100%;
    --border: 151 12% 13%;
    --input: 151 12% 13%;
    --primary: 151 80% 42%;
    --primary-foreground: 151 80% 2%;
    --secondary: 151 8% 8%;
    --secondary-foreground: 151 8% 68%;
    --accent: 151 13% 14%;
    --accent-foreground: 151 13% 74%;
    --destructive: 11 93% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 151 80% 42%;
    --chart-1: 151 88% 28%;
    --chart-2: 151 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
  }
}


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
html, body{
  overscroll-behavior: none;
}

.animated-dots {
  clip-path: inset(0 1ch 0 0); /* Reduced from 3ch to 1ch */
  animation: dots 1.5s steps(4) infinite;
}

@keyframes dots {
  to {
    clip-path: inset(0 0ch 0 0); /* Adjusted to 0ch for tiny text */
  }
}